@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: "url('/img/default.jpg')";
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.container {
    padding: 20px 0px;
    color: #fff;
}

.current-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#pm{
    text-transform: lowercase;
    font-size:50px;
}

.search {
    display: inline-block;
    align-items: start;
    justify-content: space-around;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    background: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 24px;
    background: white;
    color: black;
    font-family: inherit;
    font-size: 90%;
}

.date-container .time {
    font-size: 70px;
    font-weight: 100;
    color: #D3D3D3;
}

.date-container #am-pm {
    font-size: 30px;
    margin-left: 20px;
    color: #D3D3D3;

}

.date-container .date {
    font-size: 30px;
    color: #D3D3D3;
    ;
}

.toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);
    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: #f32133;
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: #87CEEB;
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }

  .toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: calc(var(--height) - var(--width) + 2px);
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked~.labels::after {
    opacity: 0;
    transform: translateX(calc(var(--width) - var(--height)));
  }

  .toggle input:checked~.labels::before {
    opacity: 1;
    transform: translateX(calc(var(--width) - var(--height)));
  }

.temprature-button-container {
    display: flex;
}

.temp-switch {
    font-weight: 100;
    padding: 4px 8px;
    border: 1px solid dimgray;
    cursor: pointer;
  }
  
  .default {
    background-color: beige;
    cursor: default;
  }
  
  .right-border-none {
    border-right: none;
    color: rgb(255, 0, 0);
  }
  
  .left-border {
    border-left: 1px solid dimgray;
    color: rgb(0, 132, 255);
  }

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.place-container {
    text-align: end;
    padding: 0px 15px;
}

.place-container .time-zone {
    font-size: 30px;
    font-weight: 100;
}

.place-container .country {
    font-size: 12px;
    font-weight: 700;
}

.current-info .others {
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
}

.current-info .others .weather-item {
    display: flex;
    justify-content: space-between;
}

.future-forecast {
    box-sizing: border-box;
    background: rgba(24, 24, 27, 0.8);
    padding: 32px;
    position: fixed;
    bottom: 0; 
    display: flex;
    color: #fff;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.future-forecast .today {
    display: flex;
    align-items: center;
    justify-content: center;
}

.future-forecast .today .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.future-forecast .today .temp {
    font-size: 20px;
    padding-top: 15px;
}

.future-forecast .weather-forecast {
    display: flex;
}

.weather-forecast .weather-forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 5px;
}

.future-forecast .today {
    border: 1px solid #fff;
    border-radius: 10px;

}

.weather-forecast .weather-forecast-item .day {
    padding: 5px 15px;
    background: #3c3c44;
    border-radius: 50px;
    text-align: center;
}

.weather-forecast .weather-forecast-item .temp {
    font-weight: 100;
}

@media only screen and (max-width:730px) {
    .container {
        padding: 20px;
    }

    .date-container .time {
        font-size: 50px;
    }

    .date-container #am-pm {
        font-size: 20px;
    }

    .date-container .date {
        font-size: 20px;
    }

    .place-container {
        text-align: end;
        margin-top: 15px;
    }

    .place-container .time-zone {
        font-size: 20px;
    }

    .current-info .others {
        padding: 12px;
    }

    .current-info .others .weather-item {
        font-size: 14px;
    }

    .future-forecast {
        justify-content: start;
        align-items: none;
        overflow-y: scroll;
    }

    .future-forecast .today .temp {
        font-size: 23px;
    }

}